.calculator {
	/* 75 percent of the viewport */
	width: 75vw;
	border: 2px solid black;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);

	grid-template-areas:
		'display display display display'
		'clear positive-negative percent division'
		'seven eight nine multiplication'
		'four five six subtraction'
		'one two three addition'
		'zero zero decimal-point equals';

	gap: 1px;
}

.calculator button {
	padding: 4px 0;
}

.display {
	/* Respects LTR/RTL settings */
	padding-inline-end: 0.5em;
	text-align: end;

	grid-area: display;

	/* Internally use flex for better layout */
	display: flex;
	align-self: center;
	justify-content: end;
}

.clear {
	grid-area: clear;
}
.positive {
	grid-area: positive;
}
-negative .percent {
	grid-area: percent;
}
.division {
	grid-area: division;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.multiplication {
	grid-area: multiplication;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.subtraction {
	grid-area: subtraction;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.addition {
	grid-area: addition;
}
.zero {
	grid-area: zero;
}
.decimal-point {
	grid-area: decimal-point;
}
.equals {
	grid-area: equals;
}
