.shopping-navbar ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

.shopping-navbar li {
	margin-inline-end: 1em;
}

.shopping-browser {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 70vh;
	overflow-y: scroll;
}

.browser-header-row {
	display: contents;
}

.browser-body-row:nth-child(odd) > div {
	background-color: lightblue;
}

.browser-header-row > div, .browser-body-row > div {
	display: grid;
	grid-template-columns: subgrid;
}

.browser-body-row > div {
	padding: 0.4em 0;
}

.browser-header-row > div {
border-bottom: 2px black solid;
margin-bottom: 0.5em;
}


.browser-body-row {
	display: contents;
}

/*
.browser-header-row > div, .browser-body-row > div {
	display: grid;
	grid-template-columns: subgrid;
}

*/
